{% extends "layout.njk" %}

{% block content %}

<div class="not-found">
    <h1 class="not-found-h1">404</h1>
    <h2 class="not-found-h2">Página não encontrada</h2>
    <p class="not-found-p">A página que você procura não existe.</p>
</div>

{% endblock %}