{% extends "layout.njk" %}

{% block head %}
    <title>Conteúdos - Rocketseat</title>
{% endblock %}

{% block content %}
    <iframe src="https://blog.rocketseat.com.br/{{ blog.id }}/" target="_blank" frameborder="0"></iframe>
{% endblock %}

